<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'base.css' %}">
    {% load staic %}
    {% block css %}
    {% endblock %}
    <title>DevLog</title>
</head>
<body>
    <div class="viewport">
        <div class="navbar">
            <div class="blogName">
                DevLog
            </div>
            <div class="navMenu">
                <a href='{% url "login"%}'>로그인</a>
                <a href='{% url "new" %}'>새글 작성</a>
            </div>
        </div>
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>