<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'baseStyle.css'%}"/>
    {%block css%}

    {%endblock css%}
</head>
<body>
    {%block container%}
    {%endblock container%}
    <footer>
        <nav>
            <span>jimmy7335@korea.ac.kr</span> |
            <a href='https://github.com/gaerini' target='_blank'>Github</a>
        </nav>
        <p>
            <span>저자 : jiho</span><br/>
            <span>Copyright 2023. gaerini. All Rights Reserved.</span>
        </p>
    </footer>
</body>
</html>