{%extends 'base.html'%}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'newStyle.css'%}">
{%endblock css%}

{%block container%}
<h2>글쓰기 페이지</h2>
<form action="/new" method="post">
    {%csrf_token%}
    <div class = "inputContainer">
        <div class="inputTitle">카테고리</div>
        <input class="smallBox" type="text" name="category"/>
    </div>
    <div class = "inputContainer">
        <div class="inputTitle">글제목</div>
        <input class="smallBox" type='text' name="title"/>
    </div>
    <div class = "inputContainer">
        <div class="inputTitle">글 내용</div>
        <textarea class="smallBox" name="content" cols="30" rows="10"></textarea>
    </div>
    
    <button id="submitBtn" type="submit">작성 완료</button>
</form>
{%endblock container%}
