.ChatingBox {
    height: 20vh;
    width: 100vh;
    background-color: black;
    display: flex;
    padding: 5vh 5vh;
    align-items: center;
}

.profileImg {
    width: 15vh;
    height: 15vh;
 
}

.profileImg img {
    width : 15vh;
    height : auto;
    border-radius: 100%;
}

.ChatInfo {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.time {
    color: #838383;
    position: relative;
    top: 5vh;
    font-size: 0.9rem;
}

.room {
    margin-left: 5vh;
}

.roomName {
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

.name {
    color: #E3E3E3;
    font-size: 2rem;
    font-weight: bold;
}

.count {
    margin-left: 2vh;
    color: #838383;
    font-size: 2rem;
}

.message {
    margin-top: 4vh;
    color: #A5A2A2;
    font-weight: 600;
    font-size: 1.5rem;
}