body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0px;
    overflow-y: initial;
}

.viewport {
    max-width: 370px;
    max-height: 852px;
    margin: 0 auto;
    background-color: #101012;
}

.mobileStateBar{
    background-color: black;
    height: 24px;
    width: 370px;
    margin-top: 0px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.mobileStateBar .phoneTime {
    font-size: 15px;
    color: white;
    margin-left: calc(1714px - 1665px);

}

.mobileState span {
    font-size: 12px;
    color: white;
    margin-left: 5px;
}

.mobileState {
    width: calc(2022px - 1965px);
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: calc(2058px - 2030px);
    
}

.mobileState span {
    font-size: 12px;
    color: white;
}

.headerMenuBar {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    background-color: #101012;
    width: 370px;
    height: calc(852px - 24px - 80px - 4000px + 3325px);
    padding: 0px calc(1683px - 1665px);
    justify-content: space-between;
    align-items: end;
    
}

.headerMenuBar img {
    height: calc(3325px - 3290px);
    
}

.headerMenuGroup {
    display: flex;
    height: calc(3325px - 3290px);
    width: calc(2045px - 1975px);
    justify-content: space-between;
}

.contents {
    height: calc(4000px - 3325px);
    padding: 0px 20px;
    overflow-y: scroll;
}



.RoundBox {
    background-color: #17171B;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

#TossBank {
    height: calc(3480px - 3335px);
}

.TitleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.TitleBar span {
    color: white;
    font-size: 20px;
}

#blank1 {
    height: calc(852px - 24px - 80px - 4000px + 3325px + 24px);

}

.texts {
    display: flex;
    width:100%;
    height: 45px;
}

.texts img {
    height: 45px;
}

.textBox {
    font-size: 12px;
    color: #B5B5B8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    height: 45px;
}

.textBox span {
    font-size: 18px;
    color: white;
}

#Asset {
    margin-top: 12px;
}

#hana {
    border-radius: 70%;
}

.textNsend {
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendBtn {
    box-sizing: border-box;
    height: 30px;
    width: calc(2018px - 1970px);
    background-color: #2C2C34;
    font-size: 12px;
    color: #A9A9AD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.blankForTexts {
    height: 35px;
}

.investPercent {
    font-size: 20px;
    color: #4981F1;
}

#investDigit {
    align-items: end;
}

#creditCardLog {
    width: 80px;
    color: #4477DE;
}

#cardLine {
    border-bottom: 1px solid #24242B;
}

.cardDday {
    width: 45px;
    height: 45px;
    background-color: gray;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.searchGroup {
    margin-top: 12px;
    display: flex;
    overflow-x: scroll;
}

.RoundBoxHorizontal {
    box-sizing: border-box;
    background-color: #17171B;
    border-radius: 15px;
    padding: 20px;
    height: 150px;
    width: 130px;
    margin-right: 12px;
}

#RoundBoxHorizontalText {
    margin: 0px;
}

.imoji {
    font-size: 32px;
    margin-top: 20px;
    margin-left: 60px;
}

.controller {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.RoundBoxControl {
    display: flex;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    background-color: #17171B;
    font-size: 14px;
    color: #B5B5B8;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#ctrl1 {
    margin-right: 12px;
}

.last {
    height: 130px;
    font-size: 10px;
    color: #B5B5B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerMenuBar {
    box-sizing: border-box;
    width: 370px;
    height: 80px;
    background-color: #17171B;
    position: fixed;
    z-index: 4;
    color: #B5B5B8;
    border-top: 1px solid #24242B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    padding: 10px 40px 0px 40px;
    justify-content: space-between;
}

.menuBtn div {
    text-align: center;
}